/**** Sprites ****/
.type li
{
	width: 120px;
	height: 144px;
	display: inline-block;
	visibility: hidden;
	background: url("../img/type.png") no-repeat;
}


.type .bug  { background-position: left top; visibility: visible; }
.type .dark { background-position: 20% top;  visibility: visible; }
.type .dragon { background-position: 40% top; visibility: visible;  }
.type .elec { background-position: 60% top;  visibility: visible;  }
.type .fairy { background-position: 80% top; visibility: visible;  }
.type .fighting { background-position: right top; visibility: visible;  }

.type .fire { background-position: left 50%; visibility: visible;  }
.type .flying { background-position: 20% 50%; visibility: visible;  }
.type .gosht { background-position: 40% 50%; visibility: visible;  }
.type .grass { background-position: 60% 50%; visibility: visible;  }
.type .ground { background-position: 80% 50%; visibility: visible;  }
.type .ice { background-position: right 50%; visibility: visible;  }

.type .normal { background-position: left 100%; visibility: visible;  }
.type .poison { background-position: 20% 100%; visibility: visible;  }
.type .psychic { background-position: 40% 100%; visibility: visible;  }
.type .rock { background-position: 60% 100%; visibility: visible;  }
.type .steel { background-position: 80% 100%; visibility: visible;  }
.type .water { background-position: right 100%; visibility: visible;  }

/**** CSS Pages ****/
#affichage strong {
    color: white;
    background-color: black;
    padding: 2px;
}